 .product-line--apple{
	$this: &;

	.content-wrap{
		margin-top: -6px;
	}
	
	.product-line__header{
		background-color: $color-product-line--apple-header;
		color: #fff;
	}
	
	.product-line__control{
	 	&::after{
	 		border: 1px solid #fff;
	 	}		
		svg{
			fill:#fff;
		}
	}

}



