mixin main-nav__list(title,link)
	li.main-nav__item
			a(href=link).main-nav__link=title

nav.main-nav
	ul.main-nav__list
		//- li.main-nav__item
		//- 	a(href="javascript:void(0);;").main-nav__link.main-nav__link--catalog-trigger 
		//- 		+svg("hamburger")
		//- 		span Каталог товарів
		//- 	include ../../../catalog-menu/catalog-menu
		+main-nav__list("Доставка та оплата","javascript:void(0);")
		+main-nav__list("Акції","javascript:void(0);")
		+main-nav__list("Магазини","javascript:void(0);")
		+main-nav__list("Підтримка","javascript:void(0);")
		+main-nav__list("Ціни","javascript:void(0);")
		+main-nav__list("Також","javascript:void(0);")
