include ../../../pug/mixins/product-item

section.product-line.product-line--laptops
	.product-line__header
		a(href="smartphones.html").product-line__link.product-line__link--news
			span.product-line__title Ноутбуки
			.product-line__control
				+svg("arrow-pointing-to-right")
	.content-wrap
		.product-line__inner
			.content-wrap
				.content-wrap__inner
					+product-item("images/product-item-1.jpg")
					+product-item("images/product-item-1.jpg")
					+product-item("images/product-item-1.jpg")
					+product-item("images/product-item-1.jpg")
					.product-line__complimentary-wrap
						.complimentary-card.complimentary-card--action
							.complimentary-card__bg(style="background-image: url('images/complimentary1.jpg');")
							.complimentary-card__inner
								.complimentary-card__count-wrap
									+svg("eye")
									span.complimentary-card__count 300
								.complimentary-card__info
									a(href="javascript:void(0);").complimentary-card__type Огляд
									a(href="javascript:void(0);").complimentary-card__descr Відеогляд нового Iphone
									a(href="javascript:void(0);").complimentary-card__target Всі огляди

						.complimentary-card.complimentary-card--review
							.complimentary-card__bg(style="background-image: url('images/complimentary2.jpg');")
							.complimentary-card__inner
								.complimentary-card__info
									a(href="javascript:void(0);").complimentary-card__type Акції
									a(href="javascript:void(0);").complimentary-card__descr Розпродаж Apple
									a(href="javascript:void(0);").complimentary-card__target Всі акції





