mixin catalog__items
	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Sofas
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sofas-1
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sofas-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sofas-3
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sofas-4


	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Cabinets
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-1
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Cabinets-3
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-4
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-5
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-6
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Cabinets-7

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Living rooms
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living rooms-1
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living rooms-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Living rooms-3
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living rooms-4
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living rooms-5
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living rooms-6


	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Bedrooms
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Bedrooms-1
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Bedrooms-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Bedrooms-3
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Bedrooms-4

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Children's
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Children's-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Children's-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Children's-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Children's-2

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Kitchens
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Kitchens-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Kitchens-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Kitchens-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Kitchens-2

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Hallways
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Hallways-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Hallways-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Hallways-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Hallways-2

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Office
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Office-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Office-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Living Office-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Office-2

	li.catalog__item.catalog__item--first-lvl
		a(href="javascript:void(0);").catalog__link Sale
		ul.catalog__list.catalog__list--second-lvl
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sale-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sale-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl  Sale-2
			li.catalog__item.catalog__item--second-level: a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl Sale-2


.catalog#catalog.is-hidden
	.content-wrappper
		.catalog__inner
			.catalog__header.is-not-desktop
				span Catalog
				button.btn-close.btn-close--animated.popup__close.catalog__btn-close
					+svg("close")
			ul.catalog__list
				li.catalog__item.catalog__item--first-lvl.catalog__item--catalog
					a(href="javascript:void(0);").catalog__link Catalog
					ul.catalog__list.catalog__list--second-lvl
						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Sofas
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sofas-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sofas-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sofas-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sofas-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Cabinets
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Cabinets-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Cabinets-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Cabinets-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Cabinets-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Living rooms
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Living rooms-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Living rooms-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Living rooms-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Living rooms-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Bedrooms
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Bedrooms-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Bedrooms-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Bedrooms-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Bedrooms-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Hallways
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Hallways-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Hallways-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Hallways-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Hallways-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Office
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Office-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Office-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Office-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Office-4

						li.catalog__item.catalog__item--second-level
							a(href="javascript:void(0);").catalog__link.catalog__link--second-lvl.catalog__link--catalog Sale
							ul.catalog__list.catalog__list--third-lvl
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sale-1
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sale-2
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sale-3
								li.catalog__item.catalog__item--third-level: a(href="javascript:void(0);").catalog__link.catalog__link--third-lvl Sale-4

				

				+catalog__items

			//- h1 fuck	
				

