section.breadcrumbs
	.container-fluid
		.row
			.col-12
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a(href="index.html").breadcrumbs__link Головна
					li.breadcrumbs__item
						a(href="index.html").breadcrumbs__link Смартфони
			
			.col-12
				h1.breadcrumbs__title Смартфони
						