.content-wrapper
	.user-form-wrapper
		form(action="#" ).user-form.user-form--regist#user-form--regist
			.user-form__input-container
				label.user-form__label
					input(type="text" placeholder="Введіть ім'я" name="user_name").text-input.user-form__input
			.user-form__input-container
				label.user-form__label
					input(type="email" placeholder="Введіть емейл" name="user_email").text-input.user-form__input
			.user-form__input-container
				label.user-form__label
					input(type="password" placeholder="Введіть пароль" name="user_password").text-input.user-form__input
			.user-form__input-container
				label.user-form__label
					input(type="password" placeholder="Повторіть пароль" name="user_password").text-input.user-form__input
			.btn-submit-container.user-form__submit-container
				button.btn-submit.user-form__submit 
					span Увійти
				a(href="javascript:void(0);").btn-forgot.user-form__forgot Забули пароль ?

