.content-wrapper
	.user-form-wrapper
		form.user-form.user-form--enter#user-form--enter


			.user-form__input-container
				label.user-form__label
					input(type="text" placeholder="Введіть ім'я").text-input.user-form__input

			.user-form__input-container
				label.user-form__label
					input(type="password" placeholder="Введіть емейл").text-input.user-form__input

			.user-form__input-container
				label.user-form__label
					input(type="password" placeholder="Пароль").text-input.user-form__input

			.user-form__input-container
				label.user-form__label
					input(type="password" placeholder="Повторити пароль").text-input.user-form__input

			.btn-submit-container.user-form__submit-container
				button.btn-submit.user-form__submit.user-form__submit--regist реєстрація


