// stylelint-disable scss/dollar-variable-empty-line-before

// GLOBAL SIZEs
$rem-baseline                         :16px;

// colors

$color-main          							:#1c1e1f;
$color-accent											:#70c241;
$color-phone__info								:#929292;
$color-phone__callback						:#1c1e1f;
$color-city-choose__dropdown			:#e9e9e9;
$color-city-choose__dropdown--li	:#6bbb45;
$color-btn-close__svg--hover	    :#737373;
$color-popup__input	              :#c4c4c4;
$color-white											:#fff;
$color-black											:#000;
$color-bg													:#d5d5d5;
$color-icon-bg										:#ededed;
$color-input--bd									:#b3b3b3;
$color-error 											:#ff1d25;
$color-btn--submit 								:#5CB5E5;
$color-header-control-after       :#e6e6e6;
$color-bg--darken									:#262626;
$color-main-nav--link							:#4D4D4D;
$color-product--type							:#b2b2b2;
$color-product-line__bottom				:#ececec;
$color-product-line--apple-header				:#37A6DE;
$color-product-line--smartphones-header				:#60BB4F;
$color-subscrive-bg								:#734FA0;
$color-checkbox-label							:#624388;
$color-page-footer--bg						:#141414;
$color-page-footer--title					:#b2b2b2;
$color-sort-toggle__dropdown-bd      :#ccc;

// FONTS
$font-main												:'Open Sans', sans-serif;
$font-secondary										:'Helvetica', sans-serif;
$font-tertiary										:'Arial',    sans-serif;


// TRANSITION
$transition-base		                  :all .25s ease;


